In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API Key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hasaki,JP,2022-04-07 17:42:40,35.7333,140.8333,50.40,88,8,14.50
1,1,Ushumun,RU,2022-04-07 17:42:41,52.7833,126.5333,26.56,55,100,6.31
2,2,Ushuaia,AR,2022-04-07 17:41:24,-54.8000,-68.3000,44.22,61,20,10.36
3,3,Cherskiy,RU,2022-04-07 17:42:44,68.7500,161.3000,-24.65,100,66,2.42
4,4,Punta Arenas,CL,2022-04-07 17:39:01,-53.1500,-70.9167,46.51,61,0,10.36

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

## General Syntax for creating heatmaps.

### 1. Assing the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
### 2. Assing the weights variable to some values.
temperatures = # an array of length equal to locations array length
### 3. Assing the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
### 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

### 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
### 6. Call the figure to plot the data.
fig

In [14]:
# Heatmap of temperature.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
                                dissipating=False,max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                dissipating=False,max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Atuona,PF,2022-04-07 17:42:47,-9.8000,-139.0333,79.38,71,16,15.61
13,13,Hithadhoo,MV,2022-04-07 17:42:48,-0.6000,73.0833,82.62,63,9,2.59
16,16,Butaritari,KI,2022-04-07 17:42:49,3.0707,172.7902,80.69,80,100,15.88
21,21,Sur,OM,2022-04-07 17:42:51,22.5667,59.5289,85.12,44,2,2.77
27,27,Rikitea,PF,2022-04-07 17:42:54,-23.1203,-134.9692,79.83,63,6,14.70
31,31,Kalmunai,LK,2022-04-07 17:42:56,7.4167,81.8167,80.22,80,77,0.63
33,33,Vaini,TO,2022-04-07 17:42:57,-21.2000,-175.2000,75.36,100,75,2.30
35,35,Bera,BD,2022-04-07 17:42:58,24.0833,89.6167,82.72,49,2,7.76
38,38,Havelock,US,2022-04-07 17:42:59,34.8791,-76.9013,81.01,77,40,17.27
39,39,Auki,SB,2022-04-07 17:43:00,-8.7676,160.7034,77.43,87,100,5.37

In [26]:
preferred_cities_df.count()

City_ID       184
City          184
Country       183
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [29]:
preferred_cities_df = preferred_cities_df.dropna()

In [30]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
11      Atuona      PF     79.38  -9.8000 -139.0333
13   Hithadhoo      MV     82.62  -0.6000   73.0833
16  Butaritari      KI     80.69   3.0707  172.7902
21         Sur      OM     85.12  22.5667   59.5289
27     Rikitea      PF     79.83 -23.1203 -134.9692
31    Kalmunai      LK     80.22   7.4167   81.8167
33       Vaini      TO     75.36 -21.2000 -175.2000
35        Bera      BD     82.72  24.0833   89.6167
38    Havelock      US     81.01  34.8791  -76.9013
39        Auki      SB     77.43  -8.7676  160.7034

In [33]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel fro mthe results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))